@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500&display=swap');
$homePage_Color: #FAF0E6;
$navbar_Color: #A39193;
$footer_Color: #66545D;
$roomContainer_Color:#AA6F73;
@mixin d-flex ($dir,
$place,
$align) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $place;
}

:root {
    --menu-animation: slideright;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

.Home__Container {
    background-color: $homePage_Color;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    .Homenav_Container {
        @include d-flex(row-reverse,
        space-between,
        center);
        h1 {
            font-size: 5vw;
            font-weight: 400;
            padding: 10px;
            position: relative;
            left: -30vw;
            @media screen and (max-width: 390px) {
                font-size: 25px;
                left: -15vw;
            }
        }
        img {
            position: fixed;
            z-index: 2;
            width: 90px;
            height: 85px;
            left: 30px;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                width: 10vw;
                height: 9vw;
            }
            @media screen and (max-width: 300px) {
                width: 30px;
                height: 30px;
                left: -1px;
            }
            &:hover {
                transform: translateY(-10px);
            }
            transition: transform 0.5s;
        }
    }
    hr {
        width: 80%;
        border: none;
        height: 2px;
        background-color: black;
    }
    .menu_Container {
        width: max-content;
        height: 70vh;
        background-color: $navbar_Color;
        list-style: none;
        position: fixed;
        top: -15px;
        left: 0;
        color: $homePage_Color;
        z-index: 10;
        li {
            padding: 50px;
            margin-left: -50px;
            cursor: pointer;
            user-select: none;
            img {
                width: 70px;
                height: 70px;
            }
            &:hover {
                transform: translateY(-10px);
            }
            &:active {
                color: #66545D;
            }
            transition: transform 0.5s;
            @media screen and (max-width:768px) {
                padding: 30px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        animation: var(--menu-animation) .5s ease-in-out;
        @media screen and (max-width:500px) {
            height: 50vh;
            li {
                padding: 20px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        @media screen and (max-width:375px) {
            height: 40vh;
            li {
                padding: 10px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .Rooms {
        margin: 100px 0 0 14vw;
        width: 80%;
        height: 800px;
        display: grid;
        grid-template-columns: auto auto auto;
        overflow-y: scroll;
        .Rooms_Container {
            user-select: none;
            width: 300px;
            height: 400px;
            background-color: #AA6F73;
            cursor: pointer;
            @include d-flex(column,
            center,
            center);
            h1 {
                font-size: 50px;
            }
            h1,
            h3,
            h4 {
                font-weight: 400;
            }
            transition: transform .5s;
            &:hover {
                transform: scale(1.05, 1.05);
            }
            &:active {
                transform: translateY(-10px);
            }
            @media screen and (max-width:795px) {
                width: 250px;
                height: 350px;
            }
            @media screen and (max-width:690px) {
                width: 200px;
                height: 300px;
                font-size: 10px;
            }
        }
        grid-row-gap: 50px;
        @media screen and (max-width:1200px) {
            grid-template-columns: auto auto;
        }
        @media screen and (max-width:690px) {
            margin-left: 11vw;
        }
        @media screen and (max-width:520px) {
            grid-template-columns: auto;
            place-content: center;
            padding-top: 100px;
            margin-left: 10vw;
        }
        @media screen and (max-width:300px) {
            padding-right: 20px;
        }
    }
    .Roomsort__Container {
        position: relative;
        left: -30vw;
        border: 2px solid $footer_Color;
        font-weight: 500;
        @media screen and (max-width: 660px) {
            left: -20vw;
        }
    }
}

//animation
@keyframes slideright {
    0% {
        left: -200px;
    }
    100% {
        left: 0px;
    }
}

@keyframes slideleft {
    0% {
        left: 0px;
    }
    100% {
        left: -200px;
    }
}

//scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $homePage_Color;
}

::-webkit-scrollbar-thumb {
    background-color: $roomContainer_Color;
}